package ${packageName}

class Webhook {
	${userClassName} user
	String name
	String url
	String format = 'JSON'
	String service
	int attempts = 0
	Date dateCreated
	Date lastModified

	static constraints = {
		user()
		name()
		url()
		format()
		service()
		attempts()
	}
}
